.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    margin-bottom: 10px;
    text-align: center;
    color: rgb(174, 225, 225);
}

.content {
    color: rgb(236, 128, 128);
}

.name {
    color: rgb(255, 255, 255);
}
