.comments-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .comment {
    text-align: center;
    background-color: #f3eff5;
    padding: 50px;
    border-radius: 50px;

  }
  
  .prev-arrow, .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px;
  }
  
  .prev-arrow {
    left: 10px;
  }
  
  .next-arrow {
    right: 10px;
  }
  
  button:disabled {
    color: #ccc; /* אם הכפתור מושבת, יהיה בצבע אפור */
    cursor: not-allowed;
  }
  