body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;  }
  
  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
  
.section {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-container, .comment, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  .community-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    height: 100%; 
  }
  
  .community-banner-title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .community-banner-subtitle {
    font-size: 1.2rem;
  }

  .to-register-flow {
    background-color: #443f3f;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .register-button {
    background-color: #fe4a6b;
    color: white;
    border: none;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: red;
  }

  .about-content {
    margin-right: 100px;
    margin-left: 100px;

  }
  
  
  