.p-menubar {
    color:  #443f3f;
    background-color: #c4c2bb;
    border: none;
    font-weight: bold;

}

.color-pink {
    color: #ad1477
}

.p-menuitem-text	{
    color: #ad1477 ;

}

.p-menuitem-icon	 {
    color: #ad1477;
}


.p-submenu-icon	 {
    color: #443f3f;
}